*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 1450px;
    margin: auto;
}
header{
    background: url("images/bg.jpg") ;
    height: 100vh;
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.nav-area{
    float: right;
    list-style: none;
    margin-top: 40px;
}
.nav-area li{
    display: inline-block;
}
.nav-area li a{
    color: #fff;
    text-decoration-thickness: 1px;
    text-decoration-color: black;
    padding:  5px 20px;
    font-family: poppins;
    font-size: 24 px;
}
.nav-area li a:hover{
    background: #fff;
    color: #333;

}
.ls-area{
    float: left;
    list-style: none;
    margin-top: 40px;
}
.ls-area li{
    display: inline-block;
}
.ls-area li a{
    color: #fff;
    text-decoration-thickness: 1px;
    text-decoration-color: black;
    padding:  5px 20px;
    font-family: poppins;
    font-size: 24 px;
}
.ls-area li a:hover{
    background: #fff;
    color: #333;

}
.logo img{
    width: 80px;
    float: left;
    height: auto;
}
.welcome-text{
    position: absolute;
    width: 200px;
    height: 100px;
    margin: 5% 3%;
    text-align: left;
}
.welcome-text h1{
    text-align: center;
    color: #fff;
    font-size: 60px;
} 